.list-box {
    margin: 5px auto 5px auto;
    max-width: 30vw;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(173,173,173,1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(173,173,173,1);
    box-shadow: 5px 5px 10px 0px rgba(173,173,173,1);
}

.list-item p {
    display: inline-flex;
    margin: 0px;
}

.list-form input {
    margin-bottom: 5px;
}

.selected {
    padding: 20px;
    background-color: slategray;
}

.over {
    border-color: blue;
    border-width: 3px;
    padding: 20px;
}