.list-item {
    margin-left: auto;
    margin-right: auto;
    max-width: 30vw;
    padding: 5px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(173,173,173,1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(173,173,173,1);
    box-shadow: 5px 5px 10px 0px rgba(173,173,173,1);
}

.list-item p {
    /* display: flex; */
    display: inline-flex;
    margin: 0px;
}

.list-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 30vw;
    padding: 5px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(173,173,173,1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(173,173,173,1);
    box-shadow: 5px 5px 10px 0px rgba(173,173,173,1);  
}

.list-form input {
    margin-bottom: 5px;
}

.over {
    background-color: blue;
}